body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background: #333;
  
  }

  canvas.main {
  background: #DDD;
  width:80%;
  height:80%;
  margin-left: auto;
  clear:left;
  }

  canvas.texture {
  width:16%;
  height:80%;
 }
